[submodule "genesis-bf/genesis-scripts"]
	path = genesis-bf/genesis-scripts
	url = https://github.com/blitzstern5/genesis-scripts.git
[submodule "genesis-blex/genesis-scripts"]
	path = genesis-blex/genesis-scripts
	url = https://github.com/blitzstern5/genesis-scripts.git
