[submodule "genesis-bf/genesis-scripts"]
	path = genesis-bf/genesis-scripts
	url = git@blitzstern5.github.com:blitzstern5/genesis-scripts.git
[submodule "genesis-blex/genesis-scripts"]
	path = genesis-blex/genesis-scripts
	url = git@blitzstern5.github.com:blitzstern5/genesis-scripts.git
